.bb-grey {
    border-bottom: 1px solid $global-color;
}

.button-transparent {
    border: 1px solid $global-primary-background;
    background: transparent;
    transition: background-color 0.343s ease-in;

    &:hover {
        background: darken($global-primary-background, 10%);
    }
}

.text-white {
    color: $white-color;
}

.primary-divider {
    &::after,
    &::before {
        border-color: $global-primary-background;
    }
}

.rating {
    bottom: calc(-1rem);
    right: calc(-1rem);
    width: 4rem;
    font-size: 1rem;
    height: 4rem;
}

.text-primary {
    color: $global-primary-background;
}

.light-overlay {
    background-color: scale-color($color: $secondary-color, $alpha: -40%);
}

.text-transparent {
    color: transparent;
}

.skeleton-image {
    height: 351px;
}

.bg-light-gray,
img[data-src][src*="data:image"] {
    background: scale-color($color: $muted-color, $alpha: -80%);
}

.article-skeleton-image {
    height: 187px;
}

.w-xsmall {
    width: 2.4rem;
}
